body {
  margin: 0;
  font-family: Pretendard, Arial, sans-serif;
  background-color: #f4f6f8;
  line-height: 1.6;
  font-family: "YeogiOttaeJalnan";
}

header {
  background: gray;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header a {
  text-decoration: none;
  color: inherit;
}

main {
  max-width: 800px;
  margin: 40px auto;
}

section {
  background: white;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

h2 {
  margin-top: 0;
  color: #333;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}
